*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.feedback{
    opacity: 0.95;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    
}
.contant{
    position: absolute;
}

.contant h1{
    font-size: 120px;
    color: #fff;
    font-weight: 600;
}

.contant h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.contant a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size:24px;
    border:  2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.contant a:hover{
    background-color: #000000;
    color: #ffffff;
    border:  2px solid #000000;
}


.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;

    }
}