@tailwind base;
@tailwind components;
@tailwind utilities;

pre{
    border-radius: 8px;
    background-color: #3dc536 !important;
    color: rgb(0, 0, 0) !important;
    scroll-padding-top: 20px;
    overflow-x: scroll;
    padding: 15px;
    margin-bottom: 15px;
  }